
<div class="container">
<%= form_for(@user, url: user_path(@user), html: {method: "patch"}) do |f|%>
<%=f.label :name%>
<%=f.text_field :name %>
<%=f.label :email%>
<%=f.text_field :email %>
<%=f.label :password%>
<%=f.text_field :password%>
<%= f.submit("Update") %>
<% end %>

<div class="container">

</div>
